@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  overflow: hidden;
}
.lectureMain {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(235, 232, 232, 0.479);
}
input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
.navPane {
  background-color: rgba(36, 39, 48, 0.8);
  height: 100%;
  width: 20%;
  border-radius: 15px 30px 0 0;
  z-index: 0;
  overflow: hidden;
}
#lecturerTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4.5%;
  margin-left: 4%;
}
.horizontalRuler {
  top: 10rem;
  margin-left: 4%;
  width: 92%;
  position: absolute;
  background-color: #c4c4c4;
  z-index: 2;
}
#lecturerFill {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #575f6e;
  margin-top: 0.3%;
  margin-left: 4%;
}
.lecturerPane {
  position: absolute;
  left: 19%;
  top: 1%;
  background-color: rgb(255, 255, 255);
  height: 99vh;
  width: 80%;
  border-top: 0.5px solid rgb(239, 233, 233);
  border-right: 0.5px solid rgb(239, 233, 233);
  border-radius: 15px 10px 15px 0;
  z-index: 2;
  overflow: hidden;
}
.fillField {
  display: flex;
  gap: 8%;
  flex-wrap: wrap;
  position: relative;
  min-height: 9rem;
  top: 7rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.eachField {
  margin-left: 4%;
  margin-bottom: 5%;
}
.detailsLabel {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.text-muted {
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  top: -0.5rem;
  font-size: x-small;
}
.detailsInput {
  border: none;
  width: 15rem;
  border-bottom: 1px solid #aab3b7;
  background: white;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 1rem;
}
.detailsInput::placeholder {
  color: #3c3c3ed9;
}
.detailsInput:focus {
  outline: none;
}

.secondDetails {
  margin-top: 2rem;
}
.bottomRuler {
  margin-left: 4%;
  width: 92%;
  background-color: #c4c4c4;
  z-index: 2;
  position: relative;
  top: 7.5rem;
}
#addLecturerBtn {
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  top: 12rem;
  margin-left: 4%;
  padding: 1%;
}
.navOptions{
  position: relative;
  left: 25%;
  margin-top: 45%;
  font-size: 1.2rem;
}
.navIcon{
  margin-right:3%;
  margin-left: 7%;
}
.navItem{
  min-height: 3rem;
}
li.navItem{
  margin-bottom: 10%;
}
.navItem:hover{
  background-color: #f7f3f32c;
  cursor: pointer;
  border-radius: 50px;
}
.active, .active:hover{
  min-height: 3rem;
  background-color: #c4c4c4;
  cursor: pointer;
  border-radius: 50px;
}

.navItemPosition{
  margin: 4% 0;
}
.navItem:not(:last-child){
  margin-bottom: 10%;
}
.active:not(:last-child){
  margin-bottom: 10%;
}
a{
  text-decoration: none;
  color: black;
}
