@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Roboto:wght@300;400&display=swap");
.lectureMain {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navPane {
  background-color: rgba(36, 39, 48, 0.8);
  height: 100%;
  width: 20%;
  border-radius: 15px 30px 0 0;
  z-index: 0;
  overflow: hidden;
}
#lecturerTitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 4%;
  margin-left: 4%;
}
.horizontalRuler {
  top: 9.5rem;
  margin-left: 4%;
  width: 92%;
  position: absolute;
  background-color: #c4c4c4;
  z-index: 2;
}
#lecturerFill {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #575f6e;
  margin-top: -1.5%;
  margin-left: 4%;
}
.addLecturerPane {
  position: absolute;
  left: 19%;
  top: 1%;
  background-color: rgb(255, 255, 255);
  min-height: 99vh;
  width: 81%;
  border-radius: 15px 10px 15px 0;
  z-index: 2;
  overflow: hidden;
}
.fillField {
  display: flex;
  position: relative;
  min-height: 10rem;
  top: 6rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.eachField {
  margin-left: 4%;
}
.detailsLabel {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.text-muted {
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  top: -0.5rem;
  font-size: x-small;
}
.detailsInput {
  border: none;
  width: 120%;
  border-bottom: 1px solid #aab3b7;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 1rem;
}
.detailsInput::placeholder {
  color: #3c3c3ed9;
}
.detailsInput:focus {
  outline: none;
}
.secondDetails {
  margin-top: 2rem;
}
.nextField {
  margin-left: 15%;
}
.bottomRuler{
  margin-left: 4%;
  width: 92%;
  background-color: #c4c4c4;
  z-index: 2;
  position: relative;
  top: 8rem;
}
#addLecturerBtn{
  position: relative;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  top: 11rem;
  margin-left: 4%;
  padding: 1%;
}