@tailwind base;
@tailwind components;

.nav-items{
  @apply flex flex-row items-center h-12 transform 
          hover:translate-x-2 transition-transform ease-in 
          duration-200 text-white hover:bg-white 
          active:bg-violet-700 hover:rounded-l-full 
          hover:text-black mb-4 ml-4
}
.add-lecturer-btn{
  @apply  py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 
          focus:outline-none bg-white rounded-lg border border-gray-200 
          hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 
          focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800
          dark:text-gray-400 dark:border-gray-600 
          dark:hover:text-white dark:hover:bg-gray-700 mt-12
}

.form-control{
@apply  block w-full px-3 py-1.5 text-base font-normal 
        text-gray-700 bg-white bg-clip-padding border-b 
        border-solid border-gray-300 transition ease-in-out
        m-0 focus:text-gray-700 focus:bg-white 
        focus:border-gray-600 focus:outline-none
}

@tailwind utilities;